header{
  background-color: pink;
}
figure img#salmon-logo{
 display: block;
  margin: 0px auto;
  width: 400px;
}
h2#nameOfCompany{
  text-align: center;
}
h5#slogan{
  text-align: center;
}
/*div#hours{
  float: left;
}*/
div#history{

  position: relative;
  left: 450px;
  bottom: 220px;
  width: 800px;
  background-color: white;
  padding: 15px;
  overflow: scroll;
  height: 400px;
}
div#history img{
  width: 800px;
}
div#hours li{
  padding: 8px;
}
div#merch{
position: relative;
/*clear: left;*/
bottom: 400px;
}

p#highlightG{
  font-family:'Special Elite', cursive;
  color: Green;
}
p#highlightB{
  font-family:'Special Elite', cursive;
  color: Blue;
}
p{

  font-family: Verdana;

}
p#serif{
  font-family: Times;
  color: #666699;
}
body{
  background-color: LightBlue;

}
h2{
  font-family:'Special Elite', cursive;
  color: DarkRed;
}
h5{
  font-family: Times;
  color: #666699;
}
li{
  font-family:'Special Elite', cursive;
color: Blue;
}
ul{
  font-family:'Special Elite', cursive;
  color: Green;
}
